* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
nav,
ul,
li {
  width: 100%;
  height: 100%;
}

nav {
  overflow: hidden;
}

ul,
li>a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
  flex: 1;
  /*   font-size: clamp(1.2rem, 0.8579rem + 2.1895vw, 2.5rem); */
  font-size: clamp(1.2rem, 0.6091rem + 3.7818vw, 2.5rem);
}

li>a {
  height: 100%;
  text-decoration: none;
  color: black;
  transform: skewX(-5deg);
  transition: all 2s ease;
}

li>a:focus,
li>a:hover {
  box-shadow: -10px 0px 5px 5px #484848;
  scale: 1.2;
}

a::after {
  content: "";
  position: absolute;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease;
}

a:focus::after,
a:hover::after {
  content: "";
  position: absolute;
  inset: -1rem;
  filter: blur(2.5em);
  z-index: -1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease;
}

/* CARD COLORS */
li:nth-child(1)>a:focus::after,
li:nth-child(1)>a:hover::after {
  background: linear-gradient(to bottom right, #cdea65, 90%, #acd41d);
}

li:nth-child(2)>a:focus::after,
li:nth-child(2)>a:hover::after {
  background: linear-gradient(to bottom right, #34a0e1, 80%, #a9d7f2);
}

li:nth-child(3)>a:focus::after,
li:nth-child(3)>a:hover::after {
  background: linear-gradient(to bottom right, #9e78d6, 80%, #c2aae5);
}

li:nth-child(1),
li:nth-child(1)>a {
  background-color: #cdea65;
}

li:nth-child(2),
li:nth-child(2)>a {
  background-color: #34a0e1;
  /* background-color: rgb(100, 132, 206); */
}

li:nth-child(3),
li:nth-child(3)>a {
  background-color: #9e78d6;
  /* background-color: rgb(230, 214, 79); */
  /* background-color: rgb(227, 215, 111); */
}