.parent2 {
  background: aquamarine;
  width: 75vw;
  padding: 1em;
  /*   position: relative; */
}

.child2 {
  background: red;
  position: absolute;

  /*  Absolute positioning with a basic size  */
  width: 50px;
  height: 50px;

  /*  Extend from all corners extactly 25% of the view distance  */
  /*   top: 25vw;
  bottom: 25vw;
  left: 25vw;
  right: 25vw; */

  /*  Stretch top to bottom, start left and extend 60% of view width  */
  /*   top: 0px;
  bottom: 0px;
  left: 0px;
  width: 60vw; */

  /*  Stretch left to right, start from bottom and extend 40% of view height up  */
  /*   left: 0px;
  right: 0px;
  bottom: 0px;
  height: 40vh; */

  /*  Move red container behind the document  */
  /*   z-index: -1; */
}


.card {
  position: relative;
  /*  If you comment out image  */
  /* background-color: rgb(105, 105, 105); */
  background-image: url("https://unsplash.it/250");
  background-size: cover;


  /* center if only one card */
  /* give element a width */
  /* make the margin 0 for top and bottom */
  /* give auto margin to left and right which should center it */
  width: 250px;
  margin: 0 auto;
}

.card-body {
  position: relative;
  background:rgba(0, 0, 0, .5);
  color: white;
  padding: 0.5rem 1rem;
}

.card-title::before {
  content: "";
  position: absolute;
  background: yellow;
  border: 5px solid red;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  left: -2rem;
  z-index: -1;
}
.card-title {
  position: relative;
  color: black;
  z-index: 1;
  padding-top: 5px;
}

.card-content {
  color: white;
}