/* THIS IS THOSE GREEN BOXES */
.container-item {
  margin: 10px;
  background-color: rgb(160, 115, 233);
  color: white;
  font-size: 25px;
  text-align: center;
  width: 100px;
  line-height: 50px;
}

/* GREY CONTAINER AROUND GREEN BOXES */
.container {
  background-color: rgb(216, 186, 186);
  /* position: relative; */
  display: flex;
  
  /* Direction */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  
  margin: 10px;
  height: 75vh;

  /* Horizontal alignment */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  
  /* Vertical alignment */
  align-items: center;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: stretch; */
  /* align-items: baseline; */

}

.item-A {
  /* order: 4; */
  /* align-self: center; */
}
.item-B {
  /* height: 80px; */
  /* order: 3; */
  /* align-self: flex-end; */
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px; */
}
.item-C {
  /* order: 1; */
  /* align-self: center; */
}
.item-D {
  /* order: 2; */
  /* align-self: flex-start; */
}
.item-E {
  /* order: 5; */
  /* align-self: flex-end; */
}
